#main{
    text-align: center;
    background-color: honeydew;
    padding: 40px;
    font-size: 30px;
    color: black;
}

#selectDate {
    float:left;
    margin-right: 50px;
    margin-left: 540px;
    margin-top: 23px;
    padding-left: 50px;
}

#datepicker {
    
}

#selectedContent {
    display: inline-block;
    margin-left: 10px;
    margin-top: 20px;
}

#content {
    height:630px;
    width:1026px;
    position: relative;
}

footer {
    background-color: lightgray;
}